<!doctype html>
<html lang="pt-br">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="../style/Style.css" type="text/css">
    <title>FATEC - Biblioteca</title>
  </head>
  <body>

    <header>

            <header>
                     <nav class="navbar navbar-expand-lg navbar-light mobilenav">
                    
                        <button id="btn" class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="title">Biblioteca - FATEC</div>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item active">
                              <a class="nav-link" href="/client/acervo">Acervo</a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="/client/historico">Histórico</a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="/client/minhas-reservas">Minhas Reservas</a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="/client/perfil">Perfil</a>
                            </li>
                    
                          </ul>
                        </div>
                      </nav> 
                      <div class="webheader">
                      <div class="webtitle">Biblioteca - FATEC</div>
                      </div>
                      
                      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    </header>

    </header>

    <div class="layout-main">
            <aside>
                    <div class="container">
                            <div class="navbar">
                                <ul>
                                  <a href="/client/acervo"><li >Acervo</li></a>
                          <a href="/client/historico"><li >historico</li></a>
                          <a href="/client/minhas-reservas"><li class="active">Minhas Reservas</li></a>
                          <a href="/client/perfil"><li >Perfil</li></a>
                                </ul>
                              </div>
                              </div>
            </aside>

            <section>   

            </section>

        </div>

        
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  </html>