<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://kit.fontawesome.com/edda884e8a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/Style_admin.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="Style_admin.css">
    <title>FATEC - Biblioteca</title>
  </head>
  <body>


            <header>
                     <nav class="navbar navbar-expand-lg navbar-light mobilenav">
                      <div class="nav-header">
                        <a href=""><i class="fas fa-angle-left fa-lg"></i></a>
  <a class="navbar-brand" href="#">Biblioteca - FATEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a href="/client/pages/cadastro-livros">Cadastro de livros</a>
      </li>
      <li class="nav-item">
        <a href="/client/pages/cadastro-pessoa">Cadastro de alunos</a>
      </li>
      <li class="nav-item">
        <a href="/client/pages/emprestimo">Emprestimo</a>
      </li>
      <li class="nav-item">
        <a href="/client/pages/devolucao">Devolução</a>
      </li>
      <li class="nav-item">
        <a href="">Sair</a>
      </li>
    </ul>
    
  </div>
</nav>
                      <div class="webheader">
                      <div class="webtitle">Biblioteca - FATEC</div>
                      </div>
                      
                      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    </header>


    <div class="layout-main">
            <aside>
                <div class="container">
                    <div class="navbar">
                        <ul>
                          <a href="/admin/pages/cadastro-livros"><li >Cadastro de livros</li></a>
                          <a href="#"><li class="active">Cadastro de alunos</li></a>
                          <a href="/admin/pages/emprestimo"><li>Emprestimo</li></a>
                          <a href="/admin/pages/devolucao"><li>Devolução</li></a>
                        </ul>
                      </div>
                      </div>
            </aside>

            <section>   

              <form th:action="@{/admin/salvarPessoa}" th:object="${pessoa}" method="POST">

                  <div class="form-group">
                      <label for="inputNome">Nome inteiro</label>
                      <input type="text" class="form-control" id="inputTitulo" placeholder="Vinicius Vieira" th:field="*{Nome}">
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCPF">CPF</label>
                        <input type="text" class="form-control" id="inputEditora" placeholder="44409583420" th:field="*{CPF}">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputRA">RA</label>
                        <input type="text" class="form-control" id="inputRA" placeholder="934839843" th:field="*{RA}">
                      </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCurso">Curso</label>
                          <select class="form-control" id="inputCurso" th:field="*{curso}">
                              <option value="">Selecione um Curso</option>
                              <option th:each="c : ${curso}" th:value="${c.id}" th:text="${c.nome}">Gestão Empresarial</option>  
                    <!-- <option th:each="d : ${departamentos}" th:value="${d.id}" th:text="${d.nome}">Administração</option> -->  
                                
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputEmail">E-Mail</label>
                          <input type="email" class="form-control" id="inputEmail" placeholder="Emaildeteste@teste.com" th:field="*{Email}">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputPass">Senha</label>
                          <input type="password" class="form-control" id="inputPass" placeholder="*********" th:field="*{Senha}">
                        </div>
                        <div class="form-group col-md-2 chatisse2">
                            <input type="button" class="form-control" id="bio" value="Biometria">
                          
                        </div>
                        <div class="form-group col-md-2 chatisse2">
                            <input type="reset" class="form-control" id="rst">
                        </div>
                        <div class="form-group col-md-2 chatisse2">
                            <input type="submit" class="form-control" id="sbt">
                        </div>
                      </div>

              </form>

            </section>

        </div>

        <script src="/js/script.js"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  </html>